p {
color: rgb(27, 108, 27);
}

body{  
    background:linear-gradient(180deg, rgb(71, 172, 71), rgb(211, 211, 91));
mask-repeat: repeat;
    
}
h1{ color: rgb(59, 137, 95)}

h2{color: rgb(46, 92, 68)}

