background{
}
body{
    background-image: url(Mariah-thescientist.webp);
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
il{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: red;
}
p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-align: center;
}