 body {
    Background-color: rgba(105, 58, 159, 0.888);
 }
h2 {
    color: deeppink;
}
h1 {
    color: deeppink;
}

p {
    color: rgb(255, 3, 163);
}
h4 {
    color: antiquewhite;
}
a {
    color: antiquewhite;
}
li {
    color: antiquewhite;
}