body {
    background-color:rosybrown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient(red, green) ;
}
p{color: rgb(4, 255, 0);}
h1{
    color: cyan;
    text-align: center;
}
p{font-size: 2em;}
