h1 {
    color: bisque;
    font-size: 42px;
    text-align: center;
}

p{ 
    color: rgb(5, 4, 4);
}

body { 
    background-color: rgb(240, 201, 208);
    background: linear-gradient(90deg, rgb(254, 216, 240),rgb(61, 112, 147));
    background-repeat: no-repeat;

}
img {
    width:300px;
}
