body { 
background-color: aqua;
}
 h1 { 
    color: deepskyblue;
 }
 h3 {
    color: rgb(231, 235, 245);
 }
 h2 {
     color: dodgerblue;
 }
 p { 
     color: mediumpurple;
 }
li { 
     color: blueviolet;
}
h4 { 
    color: blue;
}