body {  
  background:linear-gradient(180deg, Blue, green);
 background-color: rgb(107, 190, 163);
     color:black;
}

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
