body {
    background-color:blue;
    font-family: 'Times New Roman', Times, serif;
}
p { 
  font-size: 2em;
font-weight:bold;
text-align:center;
color: white;
}
h1 {
   background-color: red;    

  font-size: 2em;
font-weight: bold;
text-align: center;
}
