body{
    background-color: #FFC2D1;
}

p { font-size: x-large;
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h1 {text-align: center;
    font-size:xx-large;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {text-align: center;
    color: white;
    font-size:x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h3 { color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {font-size:xx-large;
    text-align: center;
    color: white;
}

