body {
    background-color:lightgrey;
}
p {
    color:blue;
    font-family: "Lucida Handwriting", cursive;
    font-size:"2em";
}

h1 {
    color:darkblue;
    font-family: "Lucida Handwriting", cursive;
}
h2 {
    color:darkblue;
    font-family:"Lucida Handwriting", cursive;
    
}
h1{
    text-align: center;
}
