
body{
    background: linear-gradient(90deg,red,white,blue);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}
h1{
    text-align: center;
    color:  aqua;
}
h2{
    color: aqua;
}
p{
    color: lawngreen;
}
ul{
    color: darkblue;
}