body  {
     background-color: gray;
}
p  {
  color: aliceblue;
  font-family:Arial, Helvetica, sans-serif;

}
h2  {
   color: antiquewhite;

}
ul  {
   color: dodgerblue;

}
title  {
      color: azure;

}
