

body {
    background-color: green;
}
h1 {
    text-align: center;
    color: green;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: whitesmoke;
}
body {
    background-image: url(boston-mass.jpg);
}
h1 {
    color: rgb(11, 235, 60);

}
h3{
    font-size: larger;
    text-align: center;
    color: rgb(11, 239, 11);
}
li{
    color: rgb(9, 245, 9);
}
