body{
 background-color:rgb(214, 221, 226);
  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1 {
    color: lightpink;
} 

h2 {
    color: rgb(113, 85, 89);
}  

h3{
    color:rgb(248, 110, 133);
}

p{
    color:rgb(73, 73, 73);
}

p{
    font-size:medium;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

