h4 {
    font-family:cursive}
p {
font-family:Georgia, 'Times New Roman', Times, serif
}    
h2 {
    font-family: cursive
}
h1 {
    font-family:cursive
}
h3 {
    font-family:Georgia, 'Times New Roman', Times, serif
}
ul {
    font-family:Georgia, 'Times New Roman', Times, serif
}
h1 {
color:aliceblue
}
h2 {
color:aliceblue
}
h3 {
color:aliceblue
}
h4 {
color:aliceblue
}
p {
    color:antiquewhite
}
body {
background-color: lightpink;
}
ul {
    color:antiquewhite
}
p {
    font-size:larger
}
h1 {
    text-align:center
}
h3 {
    text-align:center
}
h4 {
    text-align:center
}
h4 {
    font-size:larger
}